// app global css in Sass form
/* eslint-disable */
$alien-orange: #e48632;
$alien-yellow: #eacb7d;
$dropdown-bg: #555 !default;
$dropdown-link-hover-bg: #555;
$dropdown-color: #fff;
$dropdown-link-color: #fff;
$dropdown-link-disabled-color: #111;
$secondary: $alien-orange;

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@font-face
  font-family: 'nasalization';
  src: url(../assets/fonts/nasalization-rg.ttf)  format('truetype')


body, .q-card
  background-color: #111
  color: #fff
  font-family: nasalization

.navbar-dark
  background-color: rgba(0,0,0,0.5)
  .navbar-nav
    .nav-link
      color: #fff

.q-card
  padding: 20px

.q-carousel__slide
  padding: 10px !important
  background-color: #111
  > div
    padding: 10px

.q-card__section
  >div
    overflow: hidden

.q-dialog__inner--minimized
  >div
    max-height: auto

#main-content
  padding-top: 78px

h1, .text-h1
  color: #E48632

label
  color: $alien-orange
  font-size: 1.2rem
