// app global css in Sass form
/* eslint-disable */
@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

@font-face
  font-family: 'nasalization';
  src: url(../assets/fonts/nasalization-rg.ttf)  format('truetype')


body, .q-card
  background-color: #111
  color: #fff
  font-family: nasalization

.navbar-dark
  background-color: rgba(0,0,0,0.5)
  .navbar-nav
    .nav-link
      color: #fff

.q-card
  padding: 20px

.q-carousel__slide
  padding: 10px !important
  background-color: #111
  > div
    padding: 10px

.q-card__section
  >div
    overflow: hidden

.q-dialog__inner--minimized
  >div
    max-height: auto

#main-content
  padding-top: 78px

h1, .text-h1
  color: #E48632

